.ps, .promote {

    color: #000;
    border: solid 3px #FFF;
    border-radius: 10px;

    font-size: 1.2em;

    background: rgba(255, 238, 5, 1);
    background: -moz-linear-gradient(top, rgba(255, 238, 5, 1) 0%, rgba(255, 234, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 238, 5, 1)), color-stop(100%, rgba(255, 234, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 238, 5, 1) 0%, rgba(255, 234, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 238, 5, 1) 0%, rgba(255, 234, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 238, 5, 1) 0%, rgba(255, 234, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 238, 5, 1) 0%, rgba(255, 234, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee05', endColorstr='#ffea00', GradientType=0);

    /*background: #ecf0f8;*/

}

.ps p {
    font-size: 1.2em;
    line-height: 1em;
}

.ps small {
    font-size: 12px;
    font-family: Serif;
    font-style: italic;
}

.green-btn {
    background: #5cc72a;
    color: #FFF;
    padding: 6px 12px;

    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0 4px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.green-btn:hover {
    background: red;
    color: #FFF;
}

.promote {
    padding:0 10px;
    margin: 20px 0;
}
.promote p{    font-size: 15px;
    margin-bottom: 10px;
}
.promote ul{margin-left: 20px}
.promote  li{position: relative;}
.promote  li:before{top:2px!important;background: #0279ff!important;}

.rss-widget {background: #3700B2;border:solid 3px #FFF;padding:0 10px 10px;margin-top: 10px;color:#f6f6f6;
border-radius: 10px}
.rss-widget a{color: #FFF;}
.rss-widget ul li{padding:8px 10px;
    border-bottom:solid 1px rgba(255,255,255,.1);
    margin: 0 -10px;
}
.rss-widget ul li:last-child{border: 0}








#main {
    font-size: 16px;
    line-height: 28px;
    padding: 20px 20px 0 0;
    overflow: hidden;
}

#main ul {
    list-style: none
}

#main ul li {
    margin-left: 20px;
    position: relative;
}

#main ul.tick li:before, .promote li:before {
    content: '\f147';
    font-family: dashicons;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #8e44ad;
    color: #FFF;
    text-align: center;
    line-height: 16px;
    float: left;
    position: absolute;
    left: -20px;
    top: 6px

}

#marketing {
    height: 800px;
    width: 300px;
    float: right;
    padding: 20px 0 20px 20px
}

.eaa-card {
    background: #fff;
    padding: 10px;
    width: 98%;
    margin-bottom: 20px;
}

.eaa-card h2 {
    margin: -10px -10px 10px;
    padding: 10px;
    border-bottom: solid 1px #DDD;
}

.note {
    padding: 10px;
    background: #3498db;
    color: #FFF;
    border-radius: 5px;
}

.support-button {
    background: rgb(77, 191, 98);
    color: #FFF;
    border-radius: 3px;
    padding: 2px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.support-button:hover {
    background: rgb(68, 168, 86);;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.support-button:before {
    content: "\f223";
    font-family: dashicons;
    font-size: 18px;
    position: relative;
    top: 3px;
    margin-right: 3px;

}

.review-button {
    background: rgb(255, 57, 46);
    color: #FFF;
    border-radius: 3px;
    padding: 2px 5px;
    text-decoration: none;
}

.review-button:hover {
    background: red;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}