/* Responsive control */
.responsive-content .textarea {
  position: relative;
  margin: 10px 0 0;
}

.responsive-content .textarea:before {
  font-family: dashicons;
  color: #AAA;
  padding: 1px;
  opacity: .8;
  position: absolute;
  border: solid 1px #CCC;
  right: 0;
  top: 0;

  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}

.responsive-content .desktop:before {
  content: '\f472 \f471'
}

.responsive-content .mobile:before {
  content: '\f470'
}

.responsive-content textarea {
  width: 100% !important;
  height: 100px
}

label.alignleft {
  line-height: 28px;
  font-weight: bold;
  margin-right: 10px;
}

select.alignleft {
  width: auto !important;
  min-width: 160px;
}

/*#sub-accordion-section-eaa_theme_locations > li:nth-child(2n),*/
/*#sub-accordion-section-post_content > li:nth-child(2n) {*/
  /*background: #FFF;*/
  /*margin-right: -12px;*/
  /*margin-left: -12px;*/
  /*margin-bottom: 0;*/
  /*padding: 0 12px 12px;*/
/*}*/

/*#sub-accordion-section-eaa_theme_locations > li:nth-child(2n) .rc,*/
/*#sub-accordion-section-post_content > li:nth-child(2n) .rc {*/
  /*border: solid 1px #CCC;*/
  /*margin: 0 -12px;*/
  /*border-width: 1px 0;*/
  /*padding: 4px 12px;*/
  /*background: #EEE*/
/*}*/
/*#sub-accordion-section-eaa_theme_locations > li:nth-child(2n+1) .rc,*/
/*#sub-accordion-section-post_content > li:nth-child(2n+1) .rc {*/
  /*border: solid 1px #CCC;*/
  /*margin: 0 -12px;*/
  /*border-width: 1px 0;*/
  /*padding: 4px 12px;*/
  /*background: #FFF;*/
/*}*/

.rc {
  border: solid 1px #CCC;
  margin: 0 -12px;
  border-width: 1px 0;
  padding: 4px 12px;
  background: #f6f6f6
}